:root {
    --max-width: 960px;
    --main-margin: auto auto;
    --main-width: 90%;
    --z-index: 3;

}
html,body{
    margin: 0;
    padding: 0;
    max-width: 100%;
    overflow-x: hidden;
}
* {
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    /* box-sizing: border-box; */
}

/* header,main,footer{} */
ul {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    /* height: 50px; */
    /* margin-right: 6vw; */
}

.img {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: center;
    margin-right: 92px;
    /* height: 50px; */
}

header {
    min-height: 96px;
    max-width: var(--max-width);
    width: var(--main-width);
    margin: var(--main-margin);
    z-index: var(--z-index);
}

/* img{
    margin-top: 30px;
} */
header li {
    margin-top: 38px;
    display: inline-block;
    color: rgb(34, 34, 34);
    font-family: "Segoe UI";
    font-weight: 400;
    margin: 20px;
    margin-top: 25px;
    font-size: 16px;
    /* font-size: 20px; */
}

.s1 {
    max-width: var(--max-width);
    width: var(--main-width);
    margin: var(--main-margin);
    z-index: var(--z-index);
    text-align: center;
    flex-direction: column;
    margin: 65px auto;
    /* display: flex; */
    /* align-items: center; */
    /* justify-content: center; */
}

.text p:first-child,
.text img {
    display: inline-block;
}

.text p:first-child {
    margin-bottom: 30px;
}

#btn {
    background-color: rgb(0, 182, 209);
    border: none;
    font-size: 14px;
    padding: 12px 20px;
    border-radius: 5px;
    outline: none;
    font-weight: 700;
    margin: 33px auto;
}

#btn a {
    text-transform: uppercase;
    text-decoration: none;
    color: white;

}

.s2 {
    max-width: var(--max-width);
    width: var(--main-width);
    margin: var(--main-margin);
    z-index: var(--z-index);
}

.lang {
    margin-top: 35px;
}

.grid {
    display: grid;
    grid-template-columns: auto auto auto;
    gap: 14px;
}

.grid div {
    width: 272.297px;
    height: 144.438px;
    background: #f9f9f9;
    margin: 24px auto;
    /* margin-right: 28.797px; */
    /* padding: 24px 0px; */
    /* margin: 14px; */
    display: grid;
    justify-content: center;
    align-items: center;
    /* justify-content: center; */
}

.grid div h3 {
    font-size: 20px;
    font-weight: 600;
    font-family: 'Segoe UI-bold', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
}

.grid div p {
    font-size: 12px;
    font-weight: 400;
    margin: auto;
    margin-top: -4px;
}

#btn1 a {
    font-size: 12px;
    font-weight: 700;
    text-decoration: none;
    color: white;
}

#btn1 {
    background-color: #5bba5d;
    border: none;
    border-radius: 5px;
    width: 125.06px;
    height: 36.391px;
}

#btn1:hover {
    background: rgb(129, 199, 128);
}

.s3 {
    width: 100%;
    background-color: black;
    background-color: black;
    color: white;
    /* width: 100%; */
}

.s3g {
    display: grid;
    grid-template-columns: auto auto;
    padding: 72px 194.5px;
    justify-content: center;
}

.s3gd {
    display: grid;
    text-align: center;
    justify-content: center;
    width: 453.594px;
    margin-right: 52.797px;
    align-items: center;
    align-content: center;

}

.s3gd h3 {
    font-size: 24px;
    font-weight: 700;
}

.s3gd span {
    font-size: 16px;
}

.form {
    text-align: center;
    background-color: white;
    color: black;
    width: 275px;
    padding: 30px 35px;
    border-radius: 10px;
    margin: 0px 54.297px 26.391px 54.297px;
}

.form p {
    color: rgb(0, 182, 209);
    font-size: 24px;
    padding-bottom: 10px;
    /* font-weight: 500; */
}

.formc {
    margin: 16px auto;
}

.formc label {
    margin-bottom: 3.6px;
    font-size: 14.4px;
}

.formc input {
    height: 28px;
    width: 253px;
    font-size: 14px;
    padding: 10px;
    border: 1px solid rgba(51, 51, 51, 0.16);
    margin-bottom: 11.2px;
}

#btn2 {
    color: white;
    /* padding: 10px 11.2px; */
    width: 275px;
    height: 47px;
    background-color: rgb(0, 182, 209);
    border-radius: 5px;
    border: none;
    box-shadow: rgba(77, 170, 242, 0.37) 0px 12px 18px -6px;
    text-transform: uppercase;
    font-size: 16px;
    font-weight: 600;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.black {
    max-width: var(--max-width);
    width: var(--main-width);
    margin: var(--main-margin);
    z-index: var(--z-index);
}

.h3 h3 {
    font-size: 24px;
    font-weight: 500;
    padding-bottom: 10px;
}

.h3 p {
    padding-bottom: 1em;
    font-size: 16px;
    line-height: 24px;
}

footer {
    background-color: rgb(249, 249, 249);
    padding-bottom: 50px;
}

footer .div{
    z-index: var(--z-index);
    margin: var(--main-margin);
    width: var(--main-width);
    max-width: var(--max-width);
}

.grid1 {
    display: grid;
    /* width: 960px; */
    margin: auto;
    grid-template-columns: auto auto auto auto;
    /* gap: 15px; */
    padding: 94px;
    padding-left: unset;
}

.lang1,
.gen,
.user,
.sub {
    width: 215px;
    margin-right: 28.797px;
}

.h4 {
    margin-bottom: 20px;
}

.sub {
    margin: unset;
}

.grid1 a {
    text-decoration: none;
    color: rgb(34, 34, 34);
    font-size: 14px;
}

.sub {
    margin-bottom: 5px;
}

.sub .form1 input {
    border: 1px solid rgba(34, 36, 38, 0.15);
    border-radius: 7px;
    padding: 10px 16px;
}

#btn3 {
    background-color: rgb(0, 182, 209);
    border: none;
    border-radius: 7px;
    font-size: 13.3333px;
    color: white;
    text-transform: uppercase;
    font-weight: bolder;
    width: 93%;
    padding: 10px 25px;
    margin: 10px 0px;
}

.content p {
    font-size: 14px;
}

.d {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 960px;
    margin: auto;
}

.p {
    display: grid;
    justify-content: center;
}
.ff{
    font-size: 12px;
}
.f{
    margin-top: 35px;
    margin-bottom: 20px;
}
@media only screen and (max-width:1072px) {
    .img{
        margin-right: unset;
    }
}